<!DOCTYPE html>
<html>
<head>
    <title>About - Drone Database</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <!-- Navigation -->
    {% include 'nav.html'%}

    <!-- Page content -->
    <div class="container mt-4">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor pharetra ante at consequat. Curabitur in malesuada nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <p>Integer ullamcorper augue sit amet interdum posuere. Nulla facilisi. Suspendisse vitae pharetra neque. Suspendisse potenti. Donec at pharetra nunc. Curabitur consectetur lectus mi, sit amet bibendum tortor blandit eget.</p>
        <p>Etiam pharetra congue ex ac ultrices. Mauris quis ultricies turpis. Sed ut ullamcorper velit. Integer a eros sem. Praesent iaculis, ex et facilisis varius, velit dui aliquet massa, nec rutrum mi lacus ac ipsum.</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
